.grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
mat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
}
h2 {
    margin: 1rem;
    padding: 1rem;
    font-size: 3.5rem;
}