section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
mat-card{
    margin: 1.25rem;
    padding: 1.25rem;
    background: #161215;
}
img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.b{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.b *{
    margin: 1rem;
    max-width: 0.5;
}