<section>
  @for (order of orders; track order.id) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ order.customer.fullname }}</mat-card-title>
      <mat-card-subtitle>{{ order.saleDate | date:'short'}}</mat-card-subtitle>
      <mat-card-content>
        @for (orderItem of order.orderItems; track orderItem.id) {
          <p>{{orderItem.product.name}}</p>
          <p>Cantidad: {{orderItem.amount}}</p>
          <mat-divider></mat-divider>
        }
      </mat-card-content>
    </mat-card-header>
    <mat-card-actions>
      <a matButton>Ver detalle</a>
      <button matButton>Editar</button>
      <button matButton (click)="deleteOrder(order.id)">Eliminar</button>
    </mat-card-actions>
  </mat-card>
  }
</section>

<mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  (page)="changePage($event)"
  aria-label="Seleccionar página"
>
</mat-paginator>
